.techTree{
    height : 800px;
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
}
.myName{
    font-size: 300%;
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .techTree{
        height : 400px;
    }
    .myName{
        font-size: 200%;
    }
  }